<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
</head>
<body>
	<h1>Submitted Inforamation!</h1>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= name %>
		</tr>
		<tr>
			<td>Dojo Location: </td>
			<td><%= location %> </td>
		</tr>
		<tr>
			<td>Favorite Language: </td>
			<td><%= favLang %> </td>
		</tr>
		<tr>
			<td>Comment: </td>
			<td><%= comment %></td>
		</tr>
	</table>
	<a href='/back'>Go Back to Form</a>
</body>
</html>