<html>
    <head>
        <title>Cats</title>
    </head>
    <body>
        <h1>Cats...</h1>
        <img src="/cat1.jpg">
        <img src="/cat2.jpg">
        <img src="/cat3.jpg">
    </body>
</html>