<html>
	<head>
		<title>Form</title>
	</head>
<body>
	<h1>Add A New Car</h1>
	<form action="nowhere" method="POST">
		<table>
			<tr>
				<td>Make:</td>
				<td><input type='text' name='make'></td>
			</tr>
			<tr>
				<td>Model:</td>
				<td><input tpye="text" name="model"></td>
			</tr>
			<tr>
				<td>Year:</td>
				<td><input type="text" name="year"></td>
			</tr>
		</table>
		<button type="submit">Add Car</button>
	</form>
</body>
</html>